{% load static %}
{% include 'provider_header.html' %}

<hr class="border border-2 border-success">
<div class="container mt-5">
    <h2 class="mb-4">Service Booking Status</h2>
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Service Name</th>
                    <th>Booking Date</th>
                    <th>Service Date</th>
                    <th>Address</th>
                    <th>Service Description</th>
                    <th>Service Status</th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {% for service in udata %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.service }}</td>
                    <td>{{ service.booking_date }}</td>
                    <td>{{ service.scheduled_date }}</td>
                    <td>{{ service.address }}</td>
                    <td>{{ service.description }}</td>
                    <td> <span class="text-success fs-5 fw-bold">{{ service.status }} </span> </td>
                    <td><a href="{% url 'update_service_status' service.id %}"> Update Service Status </a></td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
{% include 'footer.html' %}
